body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    padding: 0px 200px;
}

header h2 {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style: none;
    display: flex;
    gap: 32px;
    margin-left: auto;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

.container {
    display: flex;
}

.container.hero {
    background-color: #1F2937;
    color: white;
    padding: 150px 200px;
}

.right {
    background-color: gray;
    flex: 0 0 auto;
    width: 50%;
    display: flex;
}

.right p {
    justify-content: center;
    align-items: center;
}

.left {
    flex-grow: 1;
    flex-shrink: 1;
}

.hero h1 {
    font-size: 48px;
    font-weight: bolder;
}

.container.hero p {
    font-size: 18px;
    color: #E5E7EB;
    min-width: none;
}

.container button {
    color: white;
    background-color: #3882F6;
    padding: 8px 32px;
    border-radius: 8px;
}

.container.information {
    flex-direction: column;
    align-items: center;
}

.illustrations {
    display: flex;
    margin: 0px 300px 100px;
    gap: 40px;
    text-align: center;
}

.illus {
    border: #3882F6 3px solid;
    border-radius: 8px;
}

.container.quote {
    background-color: #E5E7EB;
    color: #1F2937;
}

.information .head {
    font-size: 27px;
    font-weight: bolder;
    color: #1F2937;
}

.container.bottom {
    justify-content: center;
}

.bottom .container {
    background-color: #3882F6;
    margin: 80px;
    border-radius: 8px;
    padding: 20px 100px;
    align-items: center;
    gap: 100px;
}

.bottom .container button {
    border: #E5E7EB 2px solid;
}

.bottom .container h3 {
    color: #E5E7EB;
}

.bottom .container p {
     font-size: medium;
     color: #E5E7EB;
}

footer {
    background-color: #1F2937;
    color: white;
}

